<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul style="color:red;">
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
				<li><a href="/projects">Projects</a></li>
	        		<li><a href="/resume">Resume</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:jonryangoh@gmail.com">jonryangoh@gmail.com</a></li>
	        		<li><a href="https://github.com/jonathanrgoh">github.com/jonathanrgoh</a></li>
				<li><a href="https://www.linkedin.com/in/jonathanrgoh/">linkedin.com/in/jonathanrgoh/</a></li>
				</ul>
			</footer>
		</body>
	</html>
