<!DOCTYPE html>
	<html>
		<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:fb="http://ogp.me/ns/fb#">
		
		<body style="background-color:rgb(177, 181, 226);">	
			
		<head>
			<meta property="og:image" content="\images\home\jonBitmoji.jpg" />
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/" style="color:rgb(119, 8, 45);">HOME</a></li>
		        	<li><a href="/about" style="color:rgb(119, 8, 45);">ABOUT</a></li>
				<li><a href="/projects" style="color:rgb(119, 8, 45);">PROJECTS</a></li>
	        		<li><a href="/resume" style="color:rgb(119, 8, 45);">RESUME</a></li>
	        		<li><a href="/blog" style="color:rgb(119, 8, 45);">BLOG</a></li>
				<hr style="color:rgb(119, 8, 45);" size = "3">
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
				
	    			<ul>
	        		<li><a href="mailto:jonryangoh@gmail.com">jonryangoh@gmail.com</a></li>
	        		<li><a href="https://github.com/jonathanrgoh">github.com/jonathanrgoh</a></li>
				<li><a href="https://www.linkedin.com/in/jonathanrgoh/">linkedin.com/in/jonathanrgoh/</a></li>
				</ul>

				<p><font size = "1">Last Edited: 4/16/2021 by Jonathan Goh</font>

				</p>
			</footer>
		</body>
	</html>
