<!DOCTYPE html>
<html>

	<body style="background-color:rgb(177, 181, 226);">	
			
		<head>
			<meta property="og:image" content="\images\home\jonBitmoji.jpg" />
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link href="main.css" rel="stylesheet" type="text/css">
            		
		</head>
	<body>


<!-- Load an icon library to show a hamburger menu (bars) on small screens -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="topnav" id="myTopnav">
  <a href="/" class="active">HOME</a>
  <a href="/about">ABOUT</a>
  <a href="/projects">PROJECTS</a>
  <a href="/resume">RESUME</a>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>

<div class="container">
			
    {{ content }}
    
</div><!-- /.container -->

    <footer>
        
            <ul>
            <li><a href="mailto:jonryangoh@gmail.com">jonryangoh@gmail.com</a></li>
            <li><a href="https://github.com/jonathanrgoh">github.com/jonathanrgoh</a></li>
        <li><a href="https://www.linkedin.com/in/jonathanrgoh/">linkedin.com/in/jonathanrgoh/</a></li>
        </ul>
        
        <p><font size = "1">Last Edited: 9/15/2020 by Jonathan Goh</font>
        
        </p>
    </footer>

</html>
